.video-centic-control-bar {
  position: absolute;
  display: none;
  bottom: 0;
  left: 12px;
  right: 12px;
  height: 36px;
  margin-bottom: 5px;
  flex-direction: row;
}

.video-centic-show-control-bar .video-centic-control-bar {
  display: flex !important;
}

.video-centic-show-control-bar.video-centic-user-active
  .video-centic-control-bar {
  display: flex !important;
}

.video-centic-user-active .video-centic-control-bar {
  display: flex;
}

.video-centic.video-centic-player.video-centic-paused.video-centic-user-inactive
  .video-centic-control-bar {
  display: flex !important;
}

.video-centic-control-button {
  color: #fff;
  width: 46px;
  min-width: 46px;
}
