.html-video-centic-container{
  position: relative;
  width: 100%;
  height: 100%;
  outline: none;
}

.video-stream {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  outline: 0;
}