.axis {
  .chart-axis__label {
    text-anchor: end;
    user-select: none;
  }

  .chart-axis__label--x {
    text-anchor: middle;
    user-select: none;
    // transform: rotate(-45) ;
  }

  .chart-axis__axis {
    stroke-opacity: 0.3;
  }
}
.tick text{
  user-select: none;
}

.bar-chart {
  color: white;

  &.bar-chart--stack {
    rect {
      fill: unset;

      &:hover {
        stroke: blueviolet;
        stroke-width: 2;
      }
    }
  }

  .bar-chart__div {
    background-color: steelblue;
    border: 1px solid white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
  }
}
